body {
  background-color: #6161B;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: arkhip;
  src: url(PrimeLight.otf);
  font-weight:;
}

@font-face {
  font-family: moon;
  src: url(Moon_Light.otf);
}

@font-face {
  font-family: moonBold;
  src: url(Moon_Bold.otf);
}

#wrapper {

}

.cellDiv {
  float:left;
  border-style:;
 /* transition: .3s; */
}

.spacer {
  height:.5em;
}

#title-space {
  text-align: center;
  font-size: 1.7em;
  color: black;
  position:relative;
  font-family: arkhip;
}

#title {
  position: relative;
  display: inline-block;
}

#controls {
  position: relative;
  display: inline-block;
  top:.2em;
}

button {
  font-family:moon ;
  padding:;
  font-size:1em;
}

#rotate {
  font-size: .8em;
  padding:2px 4px 2px 5px;
  position: relative;
  left:4px;

}

input:focus, textarea:focus {
  outline:none;
     border: solid 1px #707070;
  box-shadow: 0 0 2px 1px #969696;
}
input {
 font-size:.8em; 
}

.small-input {
  width:4em;
}

#users-rules {
  background-color: #121415;
  color:white;
  font-size:.8em;
}

#menu-icon {
  position: absolute;
  margin-left: 1em;
  margin-top: .2em;
  z-index:1;
}

#menu-bar {
  position:absolute;
  height:77%;
  width:250px;
  background-color: #16161B;
  color: white;
  font-family: moonBold;
  left: -296px;
  padding: 23px;
  text-align: ;
}



.slide-right {
  animation: slideRight .07s;  
  animation-fill-mode: forwards;
}
@keyframes slideRight {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(296px, 0px, 0px);
    }
}

.slide-left {
  animation: slideLeft .07s;  
  animation-fill-mode: forwards;
}
@keyframes slideLeft {
    0% {
        transform: translate3d(296px, 0px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

#target-box {
  width:116px;
  height:116px;
  background-color: white;

  display: inline-block;
  background-image: url('../images/glider.png');
}

#explination {
  height:116px;
  width: 130px;
  background-color: ;
  float:right;
  display:inline-block;
  font-family: monospace;
}


.small-text {
  font-family: moon;
  color:#DADADA;
}

h4 {
  margin:0; 
  padding:0;
}

.inline {
  display: inline;
}

#right {

}

#clear {
  float:left;
  display: inline-block;
  margin-right: .2em;
}